{% extends "base/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
<!--col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4-->
<form method="post" action="{% url 'login' %}?next={{ next }}">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <div class="row">
        <div class="col-md-6">
            {% bootstrap_field form.username show_label=False show_help=False addon_before='<i class="fas fa-user-circle" aria-hidden="true"></i>' %}
        </div>
        <div class="col-md-6">
            {% bootstrap_field form.password show_label=False show_help=False addon_before='<i class="fas fa-key" aria-hidden="true"></i>' %}
        </div>
    </div>
    <div class="form-group">
        <div  class="center-block text-center">
            {% bootstrap_button 'Login' button_type='submit' button_class='btn-success' %}
            or {% url 'signup' as signup_url %}
            {% bootstrap_button 'Sign Up' button_class='btn-secondary' href=signup_url %}
        </div>
    </div>
</form>
{% endblock %}
