{% extends "base/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <br>
            <form class="form-horizontal" method="post" action="{% url 'signup' %}?next={{ next }}">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.username    show_label=False show_help=False addon_before='<i class="glyphicon glyphicon-user"></i>' %}
                {% bootstrap_field form.first_name  show_label=False show_help=False addon_before='<i class="glyphicon glyphicon-info-sign"></i>' %}
                {% bootstrap_field form.last_name   show_label=False show_help=False addon_before='<i class="glyphicon glyphicon-info-sign"></i>' %}
                {% bootstrap_field form.email       show_label=False show_help=False addon_before='<i class="glyphicon glyphicon-envelope"></i>'%}
                {% bootstrap_field form.password1   show_label=False show_help=False %}
                {% bootstrap_field form.password2   show_label=False show_help=False %}
                <div class="form-group">
                    <div  class="center-block text-center">
                        {% bootstrap_button 'Sign Up' button_type='submit' button_class='btn-success' %}
                        or {% url 'login' as login_url %}
                        {% bootstrap_button 'Login' button_type='link' href=login_url %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/password_field_fix.js' %}"></script>
{% endblock %}