{% load humanize %}
{% load taggit_templatetags2_tags %}

{% if pois %}
<table class="table table-dark table-striped table-hover table-sm">
    <caption class="sr-only">POIs table</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Created</th>
        <th class="text-center">Tags</th>
        <th class="text-center">Status</th>
        <th class="text-center">Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for poi in pois %}
    <tr id="poi{{ poi.id }}">
        <td>
            <a href="{% url 'poi:view' poi.id %}">{{ poi.name }}</a>
        </td>
        <td>{{ poi.created|date:"SHORT_DATE_FORMAT" }} {{ poi.created|time }}</td>
        <td class="text-center">
            {% get_tags_for_object poi as 'tags' %}
            {% for tag in tags|slice:':3' %}
            <a href="{% url 'tag:tag' tag.slug %}" class="badge badge-pill badge-secondary">{{ tag }}</a>
            {% endfor %}
            {% if tags|length > 3 %}
            <i class="badge badge-pill badge-secondary">...</i>
            {% endif %}
        </td>
        <td class="text-center status">
            {% if poi.public %}
            <a href="#" title="public"><i class="fa fa-globe"></i></a>
            {% else %}
            <a href="#" title="private"><i class="fas fa-user-lock"></i></a>
            {% endif %}
        </td>
        <td class="text-center edit">
            <a href="{% url 'poi:edit' poi.id %}" title="edit"><i class="fas fa-edit"></i></a>
            {% if not poi.public %}
            <a href="#" title="delete"><i class="fa fa-trash"></i></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    {% if active %}
    You don't have pois yet. Try to <a href="{% url 'poi:create' %}" class="alert-link">create your first poi</a>
    {% else %}
    <a href="{% url 'user:profile' profile %}"><b>{{ profile }}</b></a> has no public pois yet
    {% endif %}
</div>
{% endif %}