{% load humanize %}

{% if routes %}
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Length</th>
                <th class="center">Tag</th>
                <th class="center">Status</th>
                <th class="center">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for route in routes %}
                <tr id="route{{ route.id }}">
                    <td>
                        <a href="{% url 'route' route.id %}">{{ route.name }}</a>
                    </td>
                    <td>{{ route.created|naturaltime }}</td>
                    <td>{{ route.length|floatformat }} km</td>
                    <td class="center">
                        <span class="label label-default">{{ route.activity }}</span>
                    </td>
                    <td class="center status">
                        {% if route.public %}
                            <a href="#" class="glyphicon glyphicon-globe" title="public"></a>
                        {% else %}
                            <a href="#" class="glyphicon glyphicon-user" title="private"></a>
                        {% endif %}
                    </td>
                    <td class="center edit">
                        <a href="{% url 'route_edit' route.id %}" class="glyphicon glyphicon-edit" title="edit"></a>
                        {% if not route.public %}
                            <a href="#" class="glyphicon glyphicon-trash" title="delete"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        You don't have routes yet. Try to create your first route.
    </div>
{% endif %}