{% load humanize %}
{% load taggit_templatetags2_tags %}

{% if routes %}
<table class="table table-dark table-striped table-hover table-sm">
    <caption class="sr-only">Routes table</caption>
    <thead>
    <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Length</th>
        <th class="text-center">Tags</th>
        <th class="text-center">Status</th>
        <th class="text-center">Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for route in routes %}
    <tr id="route{{ route.id }}">
        <td>
            <a href="{% url 'route:view' route.id %}">{{ route.name }}</a>
        </td>
        <td>{{ route.created|naturaltime }}</td>
        <td>{{ route.length|floatformat }} km</td>
        <td class="text-center">
            {% get_tags_for_object route as 'tags' %}
            {% for tag in tags|slice:':3' %}
            <a href="{% url 'tag:tag' tag.slug %}" class="badge badge-secondary">{{ tag }}</a>
            {% endfor %}
            {% if tags|length > 3 %}
            <i class="badge badge-secondary">...</i>
            {% endif %}
        </td>
        <td class="text-center status">
            {% if route.public %}
            <a href="#" title="public"><i class="fa fa-globe"></i></a>
            {% else %}
            <a href="#" title="private"><i class="fas fa-user-lock"></i></a>
            {% endif %}
        </td>
        <td class="text-center edit">
            <a href="{% url 'route:edit' route.id %}" title="edit"><i class="fas fa-edit"></i></a>
            {% if not route.public %}
            <a href="#" title="delete"><i class="fa fa-trash"></i></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info" role="alert">
    {% if active %}
    You don't have routes yet. Try to <a href="{% url 'route:create' %}" class="alert-link">create your first route</a>
    {% else %}
    <a href="{% url 'user:profile' profile %}"><b>{{ profile }}</b></a> has no public routes yet
    {% endif %}
</div>
{% endif %}