{% if tracks %}
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Started</th>
                <th>Length</th>
                <th class="center">Tag</th>
                <th class="center">Status</th>
                <th class="center">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr id="track{{ track.id }}">
                    <td>
                        <a href="{% url 'track' track.id %}">{{ track.name }}</a>
                    </td>
                    <td>{{ track.start_date|date }} {{ track.start_date|time }}</td>
                    <td>{{ track.length|floatformat }} km</td>
                    <td class="center">
                        <span class="label label-default">{{ track.activity }}</span>
                    </td>
                    <td class="center status">
                        {% if track.public %}
                            <a href="#" class="glyphicon glyphicon-globe" title="public"></a>
                        {% else %}
                            <a href="#" class="glyphicon glyphicon-user" title="private"></a>
                        {% endif %}
                    </td>
                    <td class="center edit">
                        <a href="#" class="glyphicon glyphicon-edit" title="edit"></a>
                        {% if not track.public %}
                            <a href="#" class="glyphicon glyphicon-trash" title="delete"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        You don't have Tracks yet. Try to import your first Track.
    </div>
{% endif %}