<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" integrity="sha384-rf1bqOAj3+pw6NqYrtaE1/4Se2NBwkIfeYbsFdtiR6TQz0acWiwJbv1IM/Nt/ite" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
    <title>{{ title }} - P365</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="header_container">
        <div class="container-fluid">
            {% include "base/header.html" %}
        </div>
    </nav>
    <div id="content-container" class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div id="msg-wrong"></div>
                <div id="msg-alert"></div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container-fluid navbar-inverse">
            {% include "base/footer.html" %}
        </div>
    </footer>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% bootstrap_javascript %}
    {% block js %}{% endblock %}
</body>
</html>