{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {% csrf_token %}
            {% include 'partials/_stories-feed.html' %}
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'css/stories.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script>
        var url_story_delete = "{% url 'story:json_delete' 0 %}";
    </script>
    <script src="{% static 'js/stories.js' %}"></script>
{% endblock %}