{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <div class="col-xs-12 col-sm-6 col-md-4 fixed">
            {% leaflet_map "mainmap" callback="window.map_init_basic" %}
        </div>
        <div class="col-xs-12 col-xs-offset-12 col-sm-6 col-sm-offset-6 col-md-8 col-md-offset-4">
            <h3 align="center">{{ story.title }}</h3>
            <p align="center"><b>{{ story.event.start_date|date }} - {{ story.event.finish_date|date }}</b></p>
            <div id="text">{{ story.text|safe }}</div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {% leaflet_css plugins='elevation' %}
{% endblock %}

{% block js %}
    {% leaflet_js plugins='elevation' %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        var url_track_json = "{% url 'track:json' story.track.id %}";
    </script>
    <script src="{% static 'js/story-viewer.js' %}"></script>
{% endblock %}
