{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                {% bootstrap_field form.track show_label=False %}
                {% leaflet_map "mainmap" callback="window.map_init_basic" %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.title show_label=False %}
                <div class="row">
                    <div class="col-xs-6">
                        {% bootstrap_field form.event show_label=False %}
                    </div>
                    <div class="col-xs-6" id="event-dates"></div>
                </div>
                {{ form.text }}
                {% bootstrap_field form.tags show_label=False %}
                <div class="col-xs-12 form-group center-block text-center">
                    {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    {% leaflet_css %}
    {{ form.media.css }}
    <link href="{% static 'css/story-editor.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    {% leaflet_js %}
    {{ form.media.js }}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script src="{% static 'js/story-editor.js' %}"></script>
    <script>
        $("select[name='track']").on('change', function() {
            var map = mapsPlaceholder.pop();
            map.eachLayer(function (layer) {
                if (!layer._url)
                    map.removeLayer(layer);
            });
            if (this.value) {
                url = "{% url 'track:json' 0 %}".replace("0", this.value)
                $.getJSON(url)
                .done(function (data) {
                    var track = L.geoJson(JSON.parse(data)).addTo(map);
                    map.fitBounds(track.getBounds());
                })
                .fail(function() {setErrorMsg()});
            }
            mapsPlaceholder.push(map);
        });
    </script>
{% endblock %}
