{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <br>
        <div id="calendar"></div>
        <div id="event-modal" class="modal modal-fade" hidden>
            {% include 'partials/_event-modal.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-year-calendar.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-year-calendar.min.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script>
        function deleteEvent(event) {
            $.ajax({
                type: "POST",
                url: "{% url 'calendar:delete_event' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    id: event.id,
                },
                success: function() {
                    updateAllEvents()
                },
                error: function() {
                    setErrorMsg()
                }
            })
        }

        function saveEvent() {
            var update_event = {
                id: $('#event-modal input[name="event-index"]').val(),
                name: $('#event-modal input[name="event-name"]').val(),
                description: $('#event-modal textarea[name="event-description"]').val(),
                startDate: $('#event-modal input[name="event-start-date"]').datepicker('getDate'),
                endDate: $('#event-modal input[name="event-end-date"]').datepicker('getDate')
            }

            $.ajax({
                type: "POST",
                url: "{% url 'calendar:update_event' %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    event: JSON.stringify(update_event)
                },
                success: function() {
                    updateAllEvents();
                },
                error: function() {
                    setErrorMsg();
                }
            })
            $('#event-modal').modal('hide');
        }

        function updateAllEvents() {
            $.ajax({
                url: "{% url 'calendar:get_all_events' %}",
                success: function (data) {
                    for (var i in data) {
                        data[i].startDate = new Date(data[i].startDate);
                        data[i].endDate = new Date(data[i].endDate);
                    }
                    $('#calendar').data('calendar').setDataSource(data);
                },
                error: function() {
                    setErrorMsg();
                }
            })
        }
    </script>
{% endblock %}