{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <br>
        {% csrf_token %}
        <div id="calendar"></div>
        <div id="event-modal" class="modal modal-fade" hidden>
            {% include '_event-modal.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-year-calendar.min.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-year-calendar.min.js' %}"></script>
    <script src="{% static 'js/events.js' %}"></script>
    <script>
        var url_delete = "{% url 'calendar:delete_event' %}",
            url_save   = "{% url 'calendar:update_event' %}",
            url_update = "{% url 'calendar:get_all_events' %}";
    </script>
{% endblock %}