.noresize {
  resize: none;
}

/*
@media (max-width: 768px) {
    .leaflet-container {
        margin-top: 15px;
    }
}

.leaflet-container {
    margin-bottom: 15px;
}

.thumbnail {
    margin-bottom: 0;
}
*/