html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* HEADER */
@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

h1.fa {
    margin-top: 0px;
    margin-bottom: 0px;
}

a.fa {
    padding-bottom: 6px !important;
    padding-top: 7px !important;
    color: #9d9d9d;
}

/* PROGRESSBAR */
div.progress-bar-thin {
    height: 5px;
    margin-bottom: 0px;
    display: none;
}
