@media (min-width: 100px) {
    body {
        padding-top: 60px;
    }
}

.navbar-static-bottom {
    margin-bottom: 0px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

#content-container {
    margin-bottom: 50px;
}

[hidden] {
  display: none !important;
}

hr.slim {
    margin-top: 0;
    margin-bottom: 0;
}

input.spacing {
    margin-left: 1em;
}
