#chart {
    width: 250px;
    height: 250px;
    padding: 0;
}

#chart_legend {
    padding-left: 0;
}

#chart_label {
    position: relative;
    width: 60px;
    height: 60px;
    top: -154px;
    left: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: default;
    font-size: 20pt;
}

#chart_label_km {
    font-size: 12pt;
}

.list-group-item {
    padding: 0;
    background: none;
    border: none;
    font-size: 16px;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.tab-btn {
    margin: 0 0 0 10px;
}

a.nav-link, a.nav-link:hover {
    color: inherit;
}