{% extends "base/base.html" %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            {% get_taglist as tags %}
            <ul>
                {% for tag in tags %}
                    <li>{{tag}} [{{ tag.slug }}] ({{tag.num_times}})</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            {% get_tagcloud as tags %}
            <ul>
                {% for tag in tags %}
                    <li>{{tag}} [{{ tag.slug }}] ({{tag.weight}})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
{% endblock %}
