{% extends "base/base.html" %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            <center><h1>Most popular tags</h1></center>
            {% get_tagcloud as tags %}
            {% for tag in tags %}
                <font size={{tag.weight|floatformat:0}}>
                    <a href="{% url 'tag:tag' tag.slug %}" class="label label-default">{{ tag }}</a>
                </font>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
{% endblock %}
