{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="table-responsive col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            <div id="msg-wrong"></div>
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'import_gpx' %}">
                {% csrf_token %}
                <label class="btn btn-success pull-right">
                    Add <input type="file" accept=".gpx" onchange="this.form.submit()" hidden name="gpx_file">
                </label>
            </form>
            {% include 'partials/_tracks-table.html' %}
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'css/tables.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        function updateTable() {
            $.ajax({
                type: "GET",
                url: "{% url 'get_tracks_table' %}",
                success: function(response) {
                    $('#track-table').html(response);
                },
                error: function() {
                    setErrorMsg();
                }
            });
        }

        $('#track-table').on('click', 'td.status a', function() {
            var id = $(this).parent().parent().attr('id').replace('track', '');
            $.ajax({
                type: "POST",
                url: "{% url 'change_track_status' 1 %}".replace('1', id),
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function() {
                    updateTable();
                },
                error: function() {
                    setErrorMsg();
                }
            });
            return false;
        });

        $('#track-table').on('click', 'td.edit a.glyphicon-trash', function(){
            var id = $(this).parent().parent().attr('id').replace('track', '');
            $.ajax({
                type: "POST",
                url: "{% url 'delete_track' 1 %}".replace('1', id),
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function() {
                    $('#track'+id).hide();
                },
                error: function() {
                    setErrorMsg();
                }
            });
            return false;
        });
    </script>
{% endblock %}