{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div id="msg-wrong"></div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <center><b>{{ track.name }}</b></center>
            <center><span class="label label-default">{{ track.activity }}</span></center>
            <br><p>{{ track.description }}</p>
            <div>
                <div class="thumbnail text-center col-xs-4 col-sm-6">
                    Distance:
                    <h3>{{ track.length|floatformat }}</h3>
                    <h4>km</h4>
                </div>
                <div class="thumbnail text-center col-xs-4 col-sm-6">
                    Avg. speed:
                    <h3>{{ track.speed|floatformat }}</h3>
                    <h4>km/h</h4>
                </div>
                <div class="thumbnail text-center col-xs-4 col-sm-6">
                    Time:
                    <h3>{{ time.days }} <small>days</small></h3>
                    <h4>{{ time.hours }}:{{ time.minutes }}:{{ time.seconds }}</h4>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
             {% leaflet_map "mainmap" callback="window.map_init_basic" %}
         </div>
    </div>
{% endblock %}

{% block css %}
    {% bootstrap_css %}
    {% leaflet_css plugins='elevation' %}
    <link href="{% static 'css/track.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    {% bootstrap_javascript %}
    {% leaflet_js plugins='elevation' %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        function map_init_basic (map, options) {
            var height = $(window).height() > $(document).height() ? $(window).height()-180 : $(window).height() * 2 - $(document).height() - 125; // <--- Fixme
            $('div.leaflet-container').height(height);
            map.invalidateSize();

            $.getJSON("{% url 'geojson_get_track' track.id %}")
            .done(function (data) {
                var elevation = L.control.elevation({
                    position: 'bottomleft',
                    width: 600,
                    height: 100,
                    margins: {
                        top: 10,
                        right: 60,
                        bottom: 20,
                        left: 60
                    },
                    useHeightIndicator: true,
                }).addTo(map);
                var track = L.geoJson(JSON.parse(data), {
                    onEachFeature: elevation.addData.bind(elevation)
                }).addTo(map);
                map.fitBounds(track.getBounds());
            }).fail(function() {setErrorMsg()});
        }
    </script>
{% endblock %}
