{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="table-responsive col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            <div id="msg-wrong"></div>
            <div id="table-tracks">
                {% include 'partials/_tracks-table.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'css/tables.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/tracks_table.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        function updateTable() {
            $.ajax({
                type: "GET",
                url: "{% url 'get_tracks_table' %}",
                success: function(response) {
                    $('#table-tracks').html(response);
                },
                error: function() {
                    setErrorMsg();
                }
            });
        }

        $('#table-tracks').on('click', 'td.status a', function() {
            var id = $(this).parent().parent().attr('id').replace('track', '');
            $.ajax({
                type: "POST",
                url: "{% url 'change_track_status' 1 %}".replace('1', id),
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function() {
                    updateTable();
                },
                error: function() {
                    setErrorMsg();
                }
            });
            return false;
        });

        $('#table-tracks').on('click', 'td.edit a.glyphicon-trash', function(){
            var id = $(this).parent().parent().attr('id').replace('track', '');
            $.ajax({
                type: "POST",
                url: "{% url 'delete_track' 1 %}".replace('1', id),
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function() {
                    if ( $('[id^=track]:visible').length > 1 )
                        $('#track'+id).hide();
                    else
                        updateTable();
                },
                error: function() {
                    setErrorMsg();
                }
            });
            return false;
        });
    </script>
{% endblock %}