{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3" id="info">
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.description %}
                {% bootstrap_label form.tag.label %} <br>
                {{ form.tag }}<br><br>
                <div class="col-xs-12 form-group center-block text-center">
                    {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                {% bootstrap_field form.geom show_label=False %}
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    {% bootstrap_css %}
    {% leaflet_css plugins="forms" %}
    {{ form.media.css }}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    {% bootstrap_javascript %}
    {% leaflet_js plugins="forms" %}
    {{ form.media.js }}
    <script src="{% static 'js/editor.js' %}"></script>
{% endblock %}
