{% extends "base/base.html" %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div id="msg-wrong"></div>
        <div class="progress progress-bar-thin">
            <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
        </div>
        {% leaflet_map "mainmap" callback="window.map_init_basic" %}
    </div>
{% endblock %}

{% block css %}
    {% leaflet_css %}
    <link href="{% static 'css/map.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    {% leaflet_js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        var bounds;

        function parseData (map, data) {
            var json = JSON.parse(data);
            b = L.geoJson(json, {
                onEachFeature: function (feature, layer) {
                    layer.bindPopup('<p>' + '<b>' + feature.properties.name + '</b>' +
                                    '<br>' + feature.properties.description, '</p>');
                    layer.on('click', function() {
                        map.fitBounds(this.getBounds());
                    });
                }
            });
            b.addTo(map);
            bounds ? bounds.extend(b.getBounds()) : bounds = b.getBounds()
            bounds.isValid() ? map.fitBounds(bounds) : {}
        }

        function map_init_basic (map, options) {
            map.on('click', function() {
                bounds && bounds.isValid() ? map.fitBounds(bounds) : {}
            });
            $.getJSON("{% url 'json_tracks_nums' %}")
            .done(function(data) {
                if (data.length > 0) {
                    $('.leaflet-container').height($('.leaflet-container').height() - 5);
                    $('.progress').show();
                }
                for (i = 0; i < data.length; i++) {
                    var id = data[i];
                    var url = "{% url 'geojson_track' 0 %}".replace('0', id);
                    var step = 100.0/data.length;
                    var progress = 0;
                    $.getJSON(url)
                    .done(function(data) {
                        progress += step;
                        $('.progress-bar').css('width', progress.toString()+'%');
                        if (progress > 100.001-step) {
                            $('.progress').hide();
                            $('.leaflet-container').height('100%');
                        }
                        parseData(map, data);
                    })
                    .fail(function()     {setErrorMsg()});
                }
            })
            .fail(function() {setErrorMsg()});

            $.getJSON("{% url 'geojson_pois' %}")
            .done(function(data) {parseData(map, data)})
            .fail(function()     {setErrorMsg()});
        }
    </script>
{% endblock %}
