{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <div id="msg-wrong"></div>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3" id="info">
                {% bootstrap_form_errors form error_types='all' %}
                {% bootstrap_field form.name %}
                <div class="form-group">
                    {% bootstrap_field form.description %}
                </div>
                {% bootstrap_field form.tag %}
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                {{ form.geom }}
            </div>
            <div class="col-xs-12 form-group center-block text-center" id="buttons">
                {% bootstrap_button 'Save' button_type='submit' button_class='btn-success' %}
                or {% url 'tracks' as back_url %}
                {% bootstrap_button 'Cancel' button_type='link' href=back_url %}
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    {% bootstrap_css %}
    {% leaflet_css plugins="forms" %}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    {% bootstrap_javascript %}
    {% leaflet_js plugins="forms" %}
    <script src="{% static 'js/editor.js' %}"></script>
{% endblock %}
