{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <center><b>{{ route.name }}</b></center>
            <center>
                {% get_tags_for_object route as "tags" %}
                {% for tag in tags %}
                    <a href="{% url 'tag:tag' tag.slug %}" class="label label-default">{{ tag }}</a>
                {% endfor %}
            </center>
            <br><p>{{ route.description|default:'' }}</p>
            <div class="thumbnail text-center col-xs-12">
                Distance
                <h4>{{ route.length|floatformat|default:'-' }} km</h4>
                <hr class="slim">
                <div class="col-xs-6">
                    Altitude gain
                    <h4>{{ route.altitude_gain|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Max altitude
                    <h4>{{ route.altitude_max|floatformat|default:'-' }} m</h4>
                </div>
                <div class="col-xs-6">
                    Altitude loss
                    <h4>{{ route.altitude_loss|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Min altitude
                    <h4>{{ route.altitude_min|floatformat|default:'-' }} m</h4>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
             {% leaflet_map "mainmap" callback="window.map_init_basic" %}
         </div>
    </div>
{% endblock %}

{% block css %}
    {% leaflet_css plugins='elevation' %}
{% endblock %}

{% block js %}
    {% leaflet_js plugins='elevation' %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        function map_init_basic (map, options) {
            // FIXME!!!!
            if ($(window).height() > $(document).height())
                var height = $(window).height() - 180;
            else if ($(window).height() == $(document).height())
                var height = $(window).height() - 140;
            else
                var height = $(window).height() - 90;

            $('div.leaflet-container').height(height);
            map.invalidateSize();

            $.getJSON("{% url 'route:json' route.id %}")
            .done(function (data) {
                var elevation = L.control.elevation({
                    position: 'bottomleft',
                    width: $('div.leaflet-container').width() - 20,
                    height: 100,
                    margins: {
                        top: 10,
                        right: 60,
                        bottom: 20,
                        left: 60
                    },
                    useHeightIndicator: true,
                }).addTo(map);
                var route = L.geoJson(JSON.parse(data), {
                    onEachFeature: elevation.addData.bind(elevation)
                }).addTo(map);
                map.fitBounds(route.getBounds());
            }).fail(function() {setErrorMsg()});
        }
    </script>
{% endblock %}
