{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load leaflet_tags %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-3 card text-white bg-dark" id="info">
        <div class="card-body">
            <div class="card-title text-center" id="feature_name">
                {{ track.name }}
                <a href="{% url 'track:edit' id=track.pk%}" class="fa fa-edit"></a>
            </div>
            <div class="card-title text-center">
                {% get_tags_for_object track as "tags" %}
                {% for tag in tags %}
                <a href="{% url 'tag:tag' tag.slug %}" class="badge badge-pill badge-secondary">{{ tag }}</a>
                {% endfor %}
            </div>
            <div class="card-text">
                {{ track.description|default:'' }}
            </div>
            <div class="card-text">
                <div class="row">
                    <div class="card text-white bg-success text-center col-12">
                        <small>Distance:</small>
                        {{ track.length|floatformat|default:'-' }} km
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-6">
                        <small>Avg. speed:</small>
                        {{ track.speed|floatformat|default:'-' }} km/h
                    </div>
                    <div class="card text-white bg-success text-center col-6">
                        <small>Max speed:</small>
                        {{ track.speed_max|floatformat|default:'-' }} km/h
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-6">
                        <small>Altitude gain:</small>
                        {{ track.altitude_gain|floatformat|default:'-' }} m
                    </div>
                    <div class="card text-white bg-success text-center col-6">
                        <small>Altitude loss:</small>
                        {{ track.altitude_loss|floatformat|default:'-' }} m
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-6">
                        <small>Max altitude:</small>
                        {{ track.altitude_max|floatformat|default:'-' }} m
                    </div>
                    <div class="card text-white bg-success text-center col-6">
                        <small>Min altitude:</small>
                        {{ track.altitude_min|floatformat|default:'-' }} m
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-12">
                        <small>Start time:</small>
                        {{ track.start_date|date|default:'-' }} {{track.start_date|time|default:'-'}}
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-12">
                        <small>Finish time:</small>
                        {{ track.finish_date|date|default:'-' }} {{ track.finish_date|time|default:'' }}
                    </div>
                </div>
                <div class="row">
                    <div class="card text-white bg-success text-center col-12">
                        <small>Time:</small>
                        {{ track.start_date|timesince:track.finish_date }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        {% leaflet_map "mainmap" callback="window.map_init_basic" %}
    </div>
</div>
{% endblock %}

{% block css %}
    {% leaflet_css plugins='elevation' %}
    <link href="{% static 'css/feature-viewer.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {% leaflet_js plugins='elevation' %}
    <script>
        var url_track = "{% url 'track:json' track.id %}";
    </script>
    <script src="{% static 'js/track.js' %}"></script>
{% endblock %}
