{% extends "base/base.html" %}
{% load bootstrap3 %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <br>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <center><b>{{ track.name }}</b></center>
            <center>
                {% for tag in route.tags.names %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </center>
            <br><p>{{ track.description|default:'' }}</p>
            <div class="thumbnail text-center col-xs-12">
                <div class="col-xs-12">
                    Distance
                    <h4>{{ track.length|floatformat|default:'-' }} km</h4>
                    <hr class="slim">
                </div>
                <div class="col-xs-6">
                    Avg. speed
                    <h4>{{ track.speed|floatformat|default:'-' }} km/h</h4>
                    <hr class="slim">
                    Altitude gain
                    <h4>{{ track.altitude_gain|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Max altitude
                    <h4>{{ track.altitude_max|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Start time
                    <h4>{{ track.start_date|date|default:'-' }} {{track.start_date|time|default:'-'}}</h4>
                </div>
                <div class="col-xs-6">
                    Max speed
                    <h4>{{ track.speed_max|floatformat|default:'-' }} km/h</h4>
                    <hr class="slim">
                    Altitude loss
                    <h4>{{ track.altitude_loss|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Min altitude
                    <h4>{{ track.altitude_min|floatformat|default:'-' }} m</h4>
                    <hr class="slim">
                    Finish time
                    <h4>{{ track.finish_date|date|default:'-' }} {{ track.finish_date|time|default:'' }}</h4>
                </div>
                <div class="col-xs-12">
                    <hr class="slim">
                    Time
                    <h4>{{ track.start_date|timesince:track.finish_date }}</h4>
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
             {% leaflet_map "mainmap" callback="window.map_init_basic" %}
         </div>
    </div>
{% endblock %}

{% block css %}
    {% leaflet_css plugins='elevation' %}
{% endblock %}

{% block js %}
    {% leaflet_js plugins='elevation' %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        function map_init_basic (map, options) {
            var height = $(window).height() > $(document).height() ? $(window).height()-180 : $(window).height() * 2 - $(document).height() - 125; // <--- Fixme
            $('div.leaflet-container').height(height);
            map.invalidateSize();

            $.getJSON("{% url 'track:json' track.id %}")
            .done(function (data) {
                var elevation = L.control.elevation({
                    position: 'bottomleft',
                    width: $('div.leaflet-container').width() - 20,
                    height: 100,
                    margins: {
                        top: 10,
                        right: 60,
                        bottom: 20,
                        left: 60
                    },
                    useHeightIndicator: true,
                }).addTo(map);
                var track = L.geoJson(JSON.parse(data), {
                    onEachFeature: elevation.addData.bind(elevation)
                }).addTo(map);
                map.fitBounds(track.getBounds());
            }).fail(function() {setErrorMsg()});
        }
    </script>
{% endblock %}
