{% extends "base/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="progress progress-bar-thin">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <div class="table-responsive col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
            <div class="multitable">
                <ul class="nav nav-tabs">
                    <li class="tracks"><a href="#tracks" data-toggle="tab" role="tab" data-target="#table-tracks">Tracks</a></li>
                    <li class="routes"><a href="#routes" data-toggle="tab" role="tab" data-target="#table-routes">Routes</a></li>
                    <li class="pois"><a href="#pois" data-toggle="tab" role="tab" data-target="#table-pois">POIs</a></li>
                    <form class="form" method="post" enctype="multipart/form-data" action="{% url 'table:view' %}">
                        {% csrf_token %}
                        <label class="btn btn-success pull-right">
                            <i class="glyphicon glyphicon-upload"></i> Import GPX<input type="file" accept=".gpx" onchange="$('div.progress').show(); this.form.submit()" hidden name="gpx_file">
                        </label>
                    </form>
                    <a href="{% url 'route:create' %}">
                        <button class="btn btn-success pull-right">
                            <i class="glyphicon glyphicon-plus"></i> Route
                        </button>
                    </a>
                    <a href="{% url 'poi:create' %}">
                        <button class="btn btn-success pull-right">
                            <i class="glyphicon glyphicon-plus"></i> POI
                        </button>
                    </a>
                </ul>
                <div class="tab-content" id="tables">
                    {% include 'partials/_tables.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'css/tables.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
    <script src="{% static 'js/msg_wrong.js' %}"></script>
    <script>
        var url_update_tracks = "{% url 'table:update_tracks' %}";
        var url_update_routes = "{% url 'table:update_routes' %}";
        var url_update_poi    = "{% url 'table:update_pois' %}";
    </script>
    <script src="{% static 'js/table.js' %}"></script>
    <script>
        $('#table-tracks').on('click', 'td.status a', function() {
            var id = $(this).parent().parent().attr('id').replace('track', ''),
                url = "{% url 'track:json_change_status' 0 %}",
                url_upd = "{% url 'table:update_tracks' %}",
                id_upd = "#table-tracks";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });

        $('#table-routes').on('click', 'td.status a', function() {
            var id = $(this).parent().parent().attr('id').replace('route', ''),
                url = "{% url 'route:json_change_status' 0 %}",
                url_upd = "{% url 'table:update_routes' %}",
                id_upd = "#table-routes";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });

        $('#table-pois').on('click', 'td.status a', function() {
            var id = $(this).parent().parent().attr('id').replace('poi', ''),
                url = "{% url 'poi:json_change_status' 0 %}",
                url_upd = "{% url 'table:update_pois' %}",
                id_upd = "#table-pois";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });

        $('#table-tracks').on('click', 'td.edit a.glyphicon-trash', function(){
            var id = $(this).parent().parent().attr('id').replace('track', ''),
                url = "{% url 'track:json_delete' 0 %}",
                url_upd = "{% url 'table:update_tracks' %}",
                id_upd = "#table-tracks";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });

        $('#table-routes').on('click', 'td.edit a.glyphicon-trash', function(){
            var id = $(this).parent().parent().attr('id').replace('route', ''),
                url = "{% url 'route:json_delete' 0 %}",
                url_upd = "{% url 'table:update_routes' %}",
                id_upd = "#table-routes";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });

        $('#table-pois').on('click', 'td.edit a.glyphicon-trash', function(){
            var id = $(this).parent().parent().attr('id').replace('poi', ''),
                url = "{% url 'poi:json_delete' 0 %}",
                url_upd = "{% url 'table:update_pois' %}",
                id_upd = "#table-pois";
            changeFeature(url, id, "{{ csrf_token }}", url_upd, id_upd);
            return false;
        });
    </script>
{% endblock %}
